*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*No mostrar */
input, .menu__links{
    display: none;
}
/* Le doy medida al menu Ipad-mobil */
img{
    height: 60px;
}

/* Damos valores generales al header*/
.header{
    display: flex;
    align-items: center;/*centrado en altura */
    padding: 0 5%;/*centrado en altura con el align item*/
    width: 100vw;
    height: 10vh;
    background-color:#C4C4C4;
    
}

/* Le doy medida al icono */
 img{
    height: 60px;
}
/* Le doy estilo a los enlaces */
a{
    color: #000;
    text-decoration: none;
}
/* Le doy estilo a los ul */
ul{list-style-type: none;
}

/* MOBILE */
ul{ display: none;}

/* TABLET */
@media only screen and 
(min-device-width: 768px){
    .header{
        flex-direction: row-reverse;
    }

}

/* DESKTOP */
@media only screen and 
(min-width: 1100px){
    .header{
        justify-content: center;/*colocamos el menu en el centro del header*/
    }

    /*Desaparece la hamburguesa para aparecer el menu*/
    .menu__icono img{
        display: none;
    }
    ul{
        list-style-type: none;
        width: 50vw;/*coge la mitad del header*/
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }
}