header.header
    nav.header.menu
        label.menu__icono(for="pulsar")
            img(src="assets/svg/icon_menu.svg", alt="menu tablet y mobil")
        input(type="checkbox", name="",id="pulsar")
        ul.menu_links
            li.links__inicio
                a(href="#") Inicio
            li.links__proyectos 
                a(href="#") Proyectos
            li.links__quienes 
                a(href="#") Quienes Somos
            li.links__contactar 
                a(href="#") Contactar


